{{=< >=}}(defproject <&projectName> "<&projectVersion>"
  :description "<&projectDescription>"<#projectUrl>
  :url "<&projectUrl>"</projectUrl><#projectLicenseName>
  :license {:name "<&projectLicenseName>"<#projectLicenseUrl>
            :url "<&projectLicenseUrl>"</projectLicenseUrl>}</projectLicenseName>
  :dependencies [[org.clojure/clojure "1.10.0"]
                 [cljs-ajax "0.8.0"]])
